@charset "UTF-8";
/* CSS Document */

footer h2 {
	color: #fff;
	padding-top: 1rem;
	padding-left: 1rem;
}

footer p {
	text-align: center;
}

.nav {
	padding: 1em 0;
	/*margin-top: 1rem;*/
	text-align: center;
	font-family: 'Oswald', sans-serif;

}

.nav li {
	padding: 0 2%;
	/*margin: 0.5em; */
}

.name {
	float: none;
	width: 100%;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

@media only screen and (min-width: 40em) {
	
	.nav {
		float: right;
	}
	
	.nav li {
		padding: 0.25rem;
		padding-left: 4rem;
		text-align: center;
	}
}

@media only screen and (min-width: 35em) {

	.name {
	float: none;
	width: 100%;
	}


	.nav li {
		padding-top: 1rem;
		text-align: center;
	}

}

@media only screen and (min-width: 25em) {

	.name {
	float: none;
	width: 100%;
	}

	.nav li {
		padding-top: -1rem;
		margin-left: 2rem;
	}

}