.grid {
	/*border: 1px solid black;*/
	background-color: #eee;
	overflow: hidden; 
}

.grid-header {
	/*border: 1px solid black;*/
	background-color: #444;
	overflow: hidden; 
}

.promo-grid {
	border: 3px solid black;
	background-color: #eee;
	overflow: hidden; 
}

.small-promo-grid {
	background-color: #eee;
	overflow: hidden; 
}

.main-grid {
	/*border: 1px solid black;*/
	background-color: #eee;
	overflow: hidden; 
	padding-top: 2rem;
}

.unit {
	float: left;
}

.unit-s-1 {
	width: 100%;	
}

.unit-s-1-2 {
	width: 50%;
}

.center {
	text-align: center;
}

.center h3{
	padding-top: 2rem;
}

.center p,
.center h3{
	text-align: center;
}

@media only screen and (min-width: 30em) {
	.unit-m-1-3 {
		width: 33.3333%;
	}
	
	.unit-m-1 {
		width: 100%;
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
}

@media only screen and (min-width: 50em) {
	.unit-l-1-3 {
		width: 33.3333%;
	}
	
	.unit-l-2-3 {
		width: 66.6666%;
	}
}