@charset "UTF-8";
/* CSS Document */
}

.product {
	background-color: #eee;
	max-width: 385px;
	/*margin-left: 2rem;*/
	padding-left: 1rem;
	padding-top: 2rem;
}

/*
.side {
	padding-top:  2rem;
	margin-left: 5rem;
} 
will possible want to use this later on */

.sides {
	padding: 0 1rem;
} 


