# Accessibility Testing Report

User testing was conducted by {your name} on March 31,2014 between the times of 9:45am and 10:30am with the following participants:

- Sonal Sharma
- Jenna Mclean 
- Kathrine Greenburg 
- Elisa Koon
- Emily Prochnau
- Julia Paddick 

## Tasks

1. Find the spring dance rain boots
2. check out 
3. Find bright yellow umbrella and than go back

---

## Individual Results & Observations

### {Sonal- Voice Over}

- Task Completed as expected
- Had unamed links that would confuse her
- Went thorugh to fast and missed linkes

### {Jenna- Voice Over}

- Completed as expected
- Was a bit slow for the voice commands and would hit wrong link
- Unamed links found

### {Kathrine- Voice Over}

- Completed no issues
- Had a bit of a hard time hearing
- Unamed links found 

### {Elisa - tabbing}

- Task completed as expected
- Trouble checking out
- highlights around my bottons not obvious

### {Emily - Tabbing}

- Completed tasks
- No troubles
- Found it easy and liked the highlight

### {Julia- Tabbing}

- Completed tasks
- No troubles

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Make sure all links are named
- 

### Serious, Causes Frustration, May Hinder Completion

- Make sure everything is highlighted properly 
- 

### Minor, Annoying, Won’t Hinder Completion

- Change highlight colour
- 