# User Testing Report

User testing was conducted by Adriana Granieri on March 24, 2014 between the times of 10am and 10:30am with the following participants:

- Jenna Mclean
- Kathrine Greenburg
- Sonal Sharma

## Tasks

1. Search for the purple polka dot boots
2. Buy a yellow umbrella
3. Buy pink polka dot boots on mobile 

---

## Individual Results & Observations

### Jenna Mclean

- Click on products instead of searching it
- At check out went to bottom of page to check out scrolling past button
- Wanted all promos linked
- Maybe add check out button to the bottom
- Fix column spacing on thank you page

### {Katherine Greenburg

- She didn't use search bar when straight to product page
- At check out went to bottom of page to check out scrolling past button
- No Questions
- Move around where buttons are

### Sonal Sharma

- She clicked on every link as expected
- No troubles 
- Did not ask any questions
- Seemed to find everything easily

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- N/A

### Serious, Causes Frustration, May Hinder Completion

- Link ads


### Minor, Annoying, Won’t Hinder Completion

- At check out fix buttons
- Fix columns for mobile