<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{page.title}} · Splashes</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/splashes.css" rel="stylesheet">

</head>
<body>


<header role="banner">
  <div class="grid-header">
    <div class="unit unit-s-1 unit-l-1-3"> 
    <form class="unit unit-s-1 unit-m-1-3 unit-l-1-2" method="get" id="search" action="{{site.baseurl}}/search/" role="search">
        <input type="text" name="q" maxlength="255" placeholder="Search">
    </form>
    </div>
    <div class="unit unit-s-1 unit-m-1 unit-l-1-3"> 
      <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="company logo"> 
    </div>
    <ul class="list-group nav unit-m-1 unit-l-s" role="navigation">
      <li class="list-group-item list-group-item-inline nav-list-item">
        <a class="{% if page.url == '/'%}current{% endif %}" href="{{site.baseurl}}/">HOME</a></li>
      <li class="list-group-item list-group-item-inline">
        <a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">ABOUT</a></li>
      <li class="list-group-item list-group-item-inline nav-list-item">
        <a class="{% if page.url == '/thank-you/' %}current{% endif %}" href="{{site.baseurl}}/products/">PRODUCTS</a></li>
    </ul>
  </div>
</header> 


{% if page.showbanner %}
<div class="banner">
  <h1>{{page.bannertext}}</h1>
</div>
{% endif %}

{{content}}

<footer role="contentinfo">
    <div class="grid-header">
      <div class="unit unit-s-1 unit-m-1 unit-l-1-3"> 
        <img class="img-flex" src="{{site.baseurl}}/images/logo.svg" alt="company logo"> 
      </div>
    <div class="unit unit-s-1 unit-l-1-3"> 
      <p></p>
    </div>
    <ul class="list-group nav unit-m-1 unit-l-s">
      <li class="list-group-item list-group-item-inline nav-list-item">
        <a class="{% if page.url == '/'%}current{% endif %}" href="{{site.baseurl}}/contact/">CONTACT</a></li>
      <li class="list-group-item list-group-item-inline">
        <a href="www.twitter.com">TWEET</a></li>
      <li class="list-group-item list-group-item-inline nav-list-item">
        <a href="www.facebook.com">FACEBOOK</a></li>
    </ul>
  </div>

</body>
</html>
