---
layout: default
---
<!--
<h2>{{page.name}}</h1>

<dl class="product-img gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
	<dt></dt>
	<dd><img class "img-flex" src="{{site.baseurl}}/images/{{page.image}}" alt=""></dd>
	<dt>Price</dt>
	<dd>{{page.price}}</dd>
	<dt>Colour</dt>
	<dd>{{page.colour}}</dd>
</dl>
<div class="gutter product-detail unit unit-s-1 unit-m2-1-2 unit-l-2-3">
-->

<div class="main-grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 product sides bottom ">
			<h2>{{page.name}}</h2>
			<img src="{{site.baseurl}}/images/{{page.image}}" class="img-flex" alt=""></a>	
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 product sides bottom ">
			<h2>DETAILS</h2>
			<p>{{page.head}}</p>
			<ul>
				<li>{{page.size}}</li>
				<li>{{page.construct}}</li>
				<li>{{page.finish}}</li>
			</ul>
			<p>{{page.price}} </p>
			<a class="btn" href="{{site.baseurl}}/products/"> Go Back</a>
			<a class="btn btn-alt" href="{{site.baseurl}}/cart/">Buy it Now</a>
	</div>
</div>
