---
layout: default
---

<div class="main-grid-white">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 white sides bottom">
		<h1 class="peta">{{page.name}}</h1>
		<img src="{{site.baseurl}}/images/{{page.image}}" class="img-flex" alt="photo of product">	
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 sides bottom product-white">
			<h2>DETAILS</h2>
			<p>{{page.head}}</p>
			<ul>
				<li>{{page.size}}</li>
				<li>{{page.construct}}</li>
				<li>{{page.finish}}</li>
			</ul>
			<p>{{page.price}} </p>
			<a class="btn" href="{{site.baseurl}}/products/"> Go Back</a>
			<a class="btn btn-alt" href="{{site.baseurl}}/cart/">Buy it Now</a>
	</div>
</div>